<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>45</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>33</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>900</integer>
		<key>color</key>
		<string>purple</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>77</integer>
		<key>color</key>
		<string>gray</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>242</integer>
		<key>color</key>
		<string>green</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>600</integer>
		<key>color</key>
		<string>yellow</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>567</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>56</integer>
		<key>color</key>
		<string>black</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>186</integer>
		<key>color</key>
		<string>black</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>65</integer>
		<key>color</key>
		<string>gray</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>120</integer>
		<key>color</key>
		<string>white</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>40</integer>
		<key>color</key>
		<string>red</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>60</integer>
		<key>color</key>
		<string>black</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>75</integer>
		<key>color</key>
		<string>orange</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>20</integer>
		<key>color</key>
		<string>blue</string>
	</dict>
</array>
</plist>
